{% extends 'base.html' %}
{% block content %}

 <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome To V12 Ecommerce </p>
                </div>
            </div>
        </header>

        <dev class ="container">
            <div class="row">
                <center>
                    <div class="col-8">
                                                    <br/><br/>

                        <p align="justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed cursus leo a turpis pellentesque, non scelerisque enim feugiat.
                         Nulla ultricies nec turpis ac ultricies. Mauris elementum dolor ut iaculis eleifend. Praesent ut placerat nunc.
                          Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vivamus volutpat scelerisque ligula sit amet euismod. Quisque vitae lorem eget lorem volutpat congue. 
                          Vestibulum posuere turpis nec massa hendrerit fringilla. Nam vitae libero hendrerit, auctor metus sed, pretium urna. Phasellus et sagittis diam, at scelerisque ex. Suspendisse potenti. Praesent non facilisis justo.
                            <br/><br/>
                        Mauris gravida nunc non semper scelerisque. Donec vel fringilla ante. Maecenas sit amet lectus ullamcorper, vestibulum lectus quis, auctor lectus. 
                        Praesent rhoncus lacus nulla, quis commodo leo suscipit eget. Suspendisse potenti. Integer tincidunt lacinia nisi in iaculis. Pellentesque vel lectus quam. Donec egestas mauris lectus, ut ornare leo accumsan sed. Ut dignissim elit non lorem euismod luctus. Cras eu maximus erat. Mauris sodales, odio sit amet gravida mattis, ante neque convallis quam, eu interdum elit mauris ac elit. Nullam ipsum diam, pellentesque a euismod vitae, dictum ac sem. Aliquam malesuada a nulla non ullamcorper. Cras eget vehicula ex, vulputate egestas sem. Pellentesque nec nunc nec justo convallis volutpat. In hac habitasse platea dictumst.

                        Suspendisse venenatis massa vitae consequat congue. Fusce convallis, dolor et luctus ultrices, eros lorem sagittis massa, ac aliquet justo orci eget dui. 
                        Donec id dolor sed mi faucibus commodo. Sed efficitur feugiat nulla quis venenatis. Integer vel tortor ut justo ullamcorper laoreet. Proin vel semper risus. Vestibulum vestibulum iaculis sollicitudin. In pellentesque lorem est,
                                                    <br/><br/>
                        nec pellentesque justo semper eu. Nulla eget ultricies dui.
                        </p>
                                                    <br/><br/>

                    </div>
                </center>
            </div>
        </dev>


{% endblock %}

